<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.dao.BlogMapper">
    <resultMap id="BaseResultMap" type="com.yl.bean.Blog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="is_show" jdbcType="INTEGER" property="isShow"/>
        <result column="create_Time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_Time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yl.bean.Blog">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, is_show, create_Time, update_Time
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>
    <sql id="Tables">
    blog
  </sql>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Tables"/>
        order by create_Time desc
    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Tables"/>
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id" parameterType="com.yl.bean.Blog">
        insert into
        <include refid="Tables"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="createTime != null">
                create_Time,
            </if>
            <if test="updateTime != null">
                update_Time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
        select 'true' as QUERYID,
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from
        <include refid="Tables"/>
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKeys">
        delete from
        <include refid="Tables"/>
        where id in
        <foreach collection="array" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" parameterType="com.yl.bean.Blog">
        insert into
        <include refid="Tables"/>
        (id, title, is_show,
        create_Time, update_Time, content
        )
        values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{isShow,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.yl.bean.Blog">
        insert into
        <include refid="Tables"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="isShow != null">
                is_show,
            </if>
            <if test="createTime != null">
                create_Time,
            </if>
            <if test="updateTime != null">
                update_Time,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                #{isShow,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yl.bean.Blog">
        update
        <include refid="Tables"/>
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="isShow != null">
                is_show = #{isShow,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_Time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_Time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yl.bean.Blog">
        update
        <include refid="Tables"/>
        set title = #{title,jdbcType=VARCHAR},
        is_show = #{isShow,jdbcType=INTEGER},
        create_Time = #{createTime,jdbcType=TIMESTAMP},
        update_Time = #{updateTime,jdbcType=TIMESTAMP},
        content = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yl.bean.Blog">
        update
        <include refid="Tables"/>
        set title = #{title,jdbcType=VARCHAR},
        is_show = #{isShow,jdbcType=INTEGER},
        create_Time = #{createTime,jdbcType=TIMESTAMP},
        update_Time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>