<header class="cover bg-top" style="background-image: url('/img/default-header-img.jpg'); background-position: center;">
    <div class="bg-black-30 bb bt">
        <nav class="dt w-100 border-box pa3 ph5-ns">
            <a class="dtc v-mid mid-gray link dim w-25" href="#" title="Home">
                <img src="http://tachyons.io/img/logo.jpg" class="dib w2 h2 br-100" alt="Site Name">
            </a>
            <div class="dtc v-mid w-75 tr">
                <a class="link dim dark-gray near-white  f6 f5-ns dib mr3 mr4-ns" href="#" title="About">Services</a>
                <a class="link dim dark-gray near-white f6 f5-ns dib mr3 mr4-ns" href="#" title="Store">Blog</a>
                <a class="link dim dark-gray near-white f6 f5-ns dib" href="#" title="Contact">给我留言</a>
            </div>
        </nav>
        <div id="hdr" class="tc-l pv4-ns pv5-l pv2 ph3 ph4-ns">
            <h1 class="near-white mt1-ns f2 fw3 mb0 mt0 lh-title">嘻嘻哈哈</h1>
            <h2 class="near-white mt3-l mb4-l fw1 f6 f3-l measure-wide-l center lh-copy mt2 mb3">
            </h2>
        </div>
    </div>
</header>