<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #title{
            margin: 0 auto;
        }
        h1{
            text-align: center;
        }
    </style>
    <script type="application/javascript" src="../js/showdown.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>
<div id="title"><h1></h1></div>
<div id="result"></div>
</body>
<script th:inline="javascript">
    $(function () {
        var title = [[${title}]];
        var content = [[${content}]];
        $("h1").append(title);
        var converter = new showdown.Converter();
        var html = converter.makeHtml(content);
        document.getElementById("result").innerHTML = html;
    })
</script>
</html>